<div id="navb" class="fondo container-fluid">
  <div class="row">
      <div class="col-md-7 col-xs-12 img">
        <img src="../../assets/img/osos.png">
        
      </div>
    <div class="col-md-5 col-12 walpapaer texto">
      <h1>CAMPING</h1>
      <p>A few days camping can be just what you need. Going camping is a fantastic activity, which provides hours of fun, and an
      opportunity to disconnect from everything, and reconnect with your loved ones, and with nature.</p>
      <div class="container  float-right" >
          <hr color="white">
          <a class="btn btn-default" href="#why">Next</a>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>